<h3> <%= @ingredient_in_ingredients.name %> </h3>

<div class="form-group">
    <%= form_for @ingredient_in_ingredients do |f| %>
        <%= f.label "", "Qual a quantidade desse item que tem disponível? (em #{@ingredient_in_ingredients.unit_of_measure})"%>
        <%= f.text_field :quantity, class: "form-control", autofocus: true %>
        <br>
        <%= f.submit "Atualizar", class: "btn btn-success center-block" %>
    <% end %>
</div>