<pre>
  <%= @receitasTotais.inspect %>
</pre>
<container class ="centralizado">
   <div class ="row">
      <div class="col-md-12">
         <div class="box box-primary">
            <div class="box-header with-border">
               <h3 class="box-title title">Busca de Receitas</h3>
            </div>
            <div class="box-body">
               <% if @receitasTotais.first.nil? %>
               <div class = 'no-ingredient'>
                  <br>
                  Você ainda não possui nenhum ingrediente na sua lista para uma busca personalizada! :( <br>
                  Clique no botão abaixo para adicionar e buscar suas receitas! 
               </div>
               <% end %>
               <% if @receitasTotais.first %>
               <% @receitasTotais.each_with_index do |recipe, i| %>
               <div class="col-md-3">
                  <div class="thumbnail">
                     <class "img"><%= image_tag("#{recipe[:image]}", :class => "img-recipe")%> </class>
                     <div class="caption">
                        <h4><%=recipe[:name]%></h4>
                        <p>Calorias: <%=recipe[:calories]%></p>
                        <p> <%=recipe[:ingredients_count]%> ingredientes</p>
                        
                        <div class="span4 proj-div" ></div>
                        <button type="button" class="btn btn-primary"><%= link_to recipe['label'], "Ver Instruções de Preparo", data: {:style=>'color:#FFFFFF;', :class => "css_class", toggle: "modal", target: "#modal#{i}"} %></button>
                        <div id="modal<%= i %>" class="modal fade" role="dialog">
                           <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                                    <h4 class="modal-title" id="myModalLabel">Instruções</h4>
                                 </div>
                                 <div class="modal-body">
                                    <div class ="modal-text col-md-3">
                                       <div class="model-subtitle">Ingredientes: </div>
                                       <br>
                                       <% recipe[:ingredients].each do |ingredient| %>
                                       <% end %>
                                    </div>
                                    <div class ="modal-text col-md-9">
                                       <div class="model-subtitle">Modo de Preparo: </div>
                                       
                                       <br>
                                    </div>
                                    <button type="button" class="btn btn-primary center-block" data-dismiss="modal">Close</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <% end %>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</container>

