<container class ="centralizado">
    <div class ="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title title">Lista de Ingredientes</h3>
                </div>
                <div class="box-body">
                    <% if @ingredients.first.nil? %>
                        <div class = 'no-ingredient'>
                            <br>
                            Você ainda não possui nenhum ingrediente na sua lista! :( <br>
                            Clique no botão abaixo para adicionar e buscar suas receitas! 
                        </div>
                    <% end %>
                    <% if @ingredients.first %>
                        <table class="table table-striped">
                            <tr>
                                <td class="title"> Foto </td>
                                <td class="title"> Ingrediente </td>
                                <td class="title"> Quantidade</td>
                                <td class="title"> Medida</td>
                                <td class="title"> Editar</td>
                                <td class="title"> Excluir</td>
                            </tr>
                        
                            <% @ingredients.each do |ingredient| %>
                            <tr>
                                <td><class "img"><%= image_tag("#{ingredient.picture}", :class => "img-ingredient") %> </class></td>
                                <td><%= ingredient.name %></td>
                                <td><%= ingredient.quantity %></td>
                                <td><%= ingredient.unit_of_measure %></td>
                                <td><%= link_to "", edit_ingredients_user_path(ingredient), :class => "glyphicon glyphicon-edit btn btn-primary" %></td>
                                <td>
                                  <%= link_to url_for(action: :remove, id: ingredient.id), method: :delete, data: {confirm: 'Are you sure?'} do%>
                                    <spam class="glyphicon glyphicon-trash btn btn-danger">
                                  <% end %>
                                </td>
                            </tr>
                            <% end %>
                        <% end %>
                    </table>
                    <br>
                    <div class="col-md-12 center-block">
                        <div class="span4 proj-div" data-toggle="modal" data-target="#GSCCModal"><button type="button" class="btn btn-primary">Inserir Ingrediente</button></div>
                        <div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                                        <h4 class="modal-title" id="myModalLabel">Inserir Ingrediente</h4>
                                    </div>
                                    <div class="modal-body">
                                        <%= form_for(:ingredientList, :url => {:controller => 'ingredients', :action => 'create'}) do |f| %>
                                            <div class ="modal-text col-md-6">
                                                <div class="title">Ingrediente: </div>
                                                <%= f.select :value, options_for_select(@ingredient.map{ |ing| [ing.name+" em "+ing.unit_of_measure, ing.id]}), {},{class: 'form-control'} %>
                                                <br><br><br>
                                            </div>
                                            <div class="modal-text col-md-6">
                                                <div class="title">Quantidade: </div>
                                                <%= f.text_field :quantity, class: 'form-control', placeholder: "quantidade", autofocus: true %>
                                                <br><br><br>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td class="title"><button type="button" class="btn btn-danger center-block" data-dismiss="modal">Fechar</button></td>
                                                    <td class="title"><%= f.submit :Salvar, class: 'btn btn btn-success center-block'%></td>
                                                </tr>
                                            </table> 
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</container>
