<% @page_title = "UserPrefs | Preferences" %>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Change Password</div>
				<div class="menu">
					<div><a href="password">Security</a></div>
					
				</div>
				<div class="panel-body">
				<%= form_for(:user, :url => {:controller => 'preferences', :action => 'password'}) do |f| %>
					<fieldset>
						
						<div class="form-group">
							Old Password: <%= f.password_field :oldPassword%>
						</div>
						<div class="form-group">
							New Password: <%= f.password_field :password%>
						</div>
						<div class="form-group">
						    New Password Confirmation: <%= f.password_field :passwordConfirmation%>
						</div>
						<%= f.submit :Save %>
					</fieldset>
				<% end %>
				<% flash.each do |name, msg| -%>
                    <%= content_tag :div, msg, class: name %>
                <% end -%>
                <% if @user && @user.errors.any? %>
                <ul class="Signup_Errors">
                <% for message_error in @user.errors.full_messages %>
                    <li>* <%= message_error %></li>
                <% end %>
                </ul>
                <% end %>
                </div>
		</div>
	</div>	
